.list-container {
    padding: 0 0 0 5vw;
}

.list__header__title {
    display: inline-block;
    width: 32%;
    font-weight: 600;
    font-size: 0.8em;
    margin-bottom: 1vh;
}
.repo-list {
    list-style: none;
}
.repo-list div {
    display: inline-block;
    width: 32%;
    font-size: 0.8em;
    min-width: 20%;
}
.repo-list .repo__version {
    width: 25%;
}
.repo__name {
    display: inline-block;
    width: 32%;
    font-size: 0.8em;
    text-decoration: none;
    color: inherit;
    min-width: 30%;
}
.repo {
    padding: 1vh 0;
}
.repo__button {
    background: none;
    border: none;
    color: #804de7;
    text-decoration: underline;
}
.repo__button:hover {
    cursor: pointer;
}
.repo__button.hidden {
    display: none;
}

